<nav class="navbar navbar-dark bg-dark">
  <!-- <a routerLink="/products" routerLinkActive="active">Lista</a> | -->

  <!-- <a routerLink="/lista" routerLinkActive="active">Lista</a> | -->

  <!-- <a routerLink="/articulos" routerLinkActive="active">Articulos</a> | -->

  <a routerLink="/lista-categorias" routerLinkActive="active">Categorias</a> |
  <a routerLink="/crear-categoria" routerLinkActive="active">Nueva Categroria</a> |
  
  <a routerLink="/lista-supermercados" routerLinkActive="active">Supermercados</a> |
  <a routerLink="/crear-supermercado" routerLinkActive="active">Nuevo Supermercado</a>

</nav>

<router-outlet></router-outlet>